{% load staticfiles %}
<!DOCTYPE html>
<html lang="CN">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="text/css" href="{% static 'images/liangsongyou.jpeg' %}">

    <title>梁宋游的博客</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <style type="text/css">
      
      .login_form {
        border: 1px solid green;
        background-color: lightyellow;
      }
      .login_form p {
        padding-right: 30px;
        text-align: right;
        

      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-lg-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'post_list' %}" style="color:red;">梁宋游</a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'post_list' %}" style="color:red;">主页 </a>
          </li>
        </ul>
        <ul class=" navbar-nav my-2 my-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_new' %}" style="color:red;">发布</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" style="color:red;">登出</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" style="color:red;">登陆</a>
          </li>
          {% endif %}
        </ul>
        
      </div>
    </nav>

    <!-- Page Header -->

    {% block header %}
      
    {% endblock header %}
    

    <!-- Main Content -->
    
    <div class="row">
      <div class="col-md-8">
        {% block content %}
      
        {% endblock content %}
      </div>
      <div class="col-md-4">
        {% block sidebar %}
          
        {% endblock sidebar %}
      </div>
    </div>
    

   

    <!-- Footer -->
    <footer style="background-color:lightblue;color:black;font-size:80%;">
      <div class="container" >
        <div class="row">
          <div class="col-sm" >
            <h5>联系我</h5>
            <p>QQ：470483996</p>
            <p>邮箱：yuebei58@gmail.com</p>
          </div>
          <div class="col-sm">
            <h5>友情链接</h5>
            <p><a href="http://www.geekdata.shop">极客数据</a></p>
            <p><a href="http://www.xiaoqingzhou.cn">薛定谔的弱鸡</a></p>
            <p><a href="http://www.tianyancha.com">天眼查</a></p>
          </div>
          <div class="col-sm">
            <h5>其他东西</h5>
            <p>以后再添加</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
            <p class="copyright text-muted">Copyright &copy; 梁宋游 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
