{% extends "blog/base.html" %}
{% load staticfiles %}

{% block header %}
  
{% endblock header %}

{% block content %}
  
    
    
     <article style="padding:20px;">
      <div class="container">
        <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <div class="card ">
              <div class="card-header text-white bg-dark">
                <div class="row">
                    <div class="col text-left">
                      {{ post.created_date|date:"Y-m-d"}}
                    </div>
                    <div class="col text-right">


                      {% if  user.is_authenticated %}
                          {% if post.is_published %}
                            <a href="{% url 'post_edit' pk=post.pk %}" style="color:red;">编辑 </a>
                            <a href="{% url 'post_remove' pk=post.pk %}" style="color:red;"> 删除</a>
                          {% else %}
                            <a href="{% url 'post_publish' pk=post.pk %}" style="color:red;">提交</a>
                          {% endif %}
                          
                      {% endif %}
                    </div>
                  </div>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{ post.title }}</h5>
                <p class="card-text">{{ post.text|linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </article>
{% endblock content %}