{% extends "blog/base.html" %}
{% load staticfiles %}

{% block header %}
    <header class="masthead" style="background-image: url({% static 'img/post-bg.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
                  {% if post.published_date %}
                    <span class="meta">作者
                        <a href="#">{{ post.author }}</a>
                        发布于 {{ post.published_date|date:"Y-m-d" }}</span>
                {% else %}
                    <span class="meta">
                        {{ post.author }}
                        <a href="{% url 'post_publish' pk=post.pk %}">发表</a>
                         </span>
                 {% endif %} 
                 {% if  user.is_authenticated %}
                    <span class="meta">
                        {{ post.author }} 
                        <a href="{% url 'post_edit' pk=post.pk %}">修改 </a>
                        </span> |
                    <span class="meta">
                        {{ post.author }}
                        <a href="{% url 'post_remove' pk=post.pk %}"> 删除</a>
                         </span>
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
     <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                {{ post.text|linebreaksbr }}
            </p>
          </div>
        </div>
      </div>
    </article>
{% endblock content %}